{% extends 'base.html' %} {% block content %}

<main>
    <div class="delete">
        <center>
            <h1>¿Estas seguro que deseas borrar este producto?:</h1>
            <h2>{{producto.Descrip}}</h2>
            <img src="{{producto.URLimg}}" :alt="{{producto.Descrip}}">
            <form method="post">
            {% csrf_token %}
            <div>{{form.as_p}}</div>
            <input type="submit" value="{{ Tipo }} Actualizar" />
        </form>
        <br>

        <a href="{% url 'productos:edit' %}">Cancelar</a>
    </div>
</center>
</main>
{% endblock %}