{% extends 'base.html' %} {% block content %}

<main>
    <div class="create">
        <center>
            
                <h1>CREAR PRODUCTO</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>{{form.as_p}}</div>
                    <input type="submit" value="{{ tipo }} Crear" />
                </form>
        
                
            
        <br>

        <a href="{% url 'productos:edit' %}">Cancelar</a>
    </div>
</center>
</main>
{% endblock %}