{% extends 'base.html' %}
{% load static %}

{% block content %}
      
        <div id="navegacion">
            <nav align="center">
                <ul type="none">
                    <br>
                <li><a href="{% url 'landing' %}"> INICIO </a></li>
                <li><a href="{% url 'quienes_somos' %}"> ¿Quienes somos?</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>

                </ul>
            </nav>
        </div>
    

    <main>
    <hr/>
    <center>
            
        <div id="ProdApp">
         
            <hr>
            <div id="productos">
            
                <div>
                    {% for p in producto_list %}
                    
                    <div>
                        <a href="{% url 'productos:detail' p.IDp %}">
                            <h3>{{p.Descrip}}</h3>
                 
                            <div>
                                
                                <img src="{{p.URLimg}}" :alt="{{p.Descrip}}">
                                <p>${{p.Price}}</p>      
                    
                                    
                            </div>
                            
                        </a>
                        <div>
                           
                            <span>
                                <label for="">Editar: </label>
                                <a href="{% url 'productos:update' p.IDp %}"><h4>+</h4></a>
                            </span>
                            <span>
                                <label for="">Borrar: </label>
                                <a href="{% url 'productos:delete' p.IDp %}"><h4>+</h4></a>
                            </span>
                   
                        </div>
                    </div> 
                    {% endfor %}
                    <br>
                    
            </div>
        </div>
        <br>
        <a id="create", href="{% url 'productos:all' %}"><h3>VOLVER A PRODUCTOS</h3></a>
    </center>
        
        </main>
    <hr>
    
{% endblock %}